[Unit]
Description=Proton Drive sync daemon (unofficial)
After=graphical-session.target dbus.service
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/protondrived
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
